---
pagination:
  data: site.langs
  size: 1
  alias: lang
permalink: "/{{ lang }}/biografia/index.html"
layout: layouts/base.njk
hreflangIt: "/it/biografia/"
hreflangEn: "/en/biografia/"
eleventyComputed:
  title: "{% if lang == 'it' %}Biografia{% else %}Biography{% endif %}"
  langSwitchUrl: "{% if lang == 'it' %}/en/biografia/{% else %}/it/biografia/{% endif %}"
---
{% include "partials/biografia-body.njk" %}
