---
pagination:
  data: site.langs
  size: 1
  alias: lang
  addAllPagesToCollections: true
permalink: "/{{ lang }}/index.html"
layout: layouts/base.njk
title: "Ciccio Damplo"
eleventyComputed:
  canonical: "/{{ lang }}/"
---
{% include "partials/home-body.njk" %}
