---
pagination:
  data: piattiPages
  size: 1
  alias: item
  addAllPagesToCollections: true
permalink: "/{{ item.lang }}/piatti/{{ item.slug }}/index.html"
layout: layouts/base.njk
eleventyComputed:
  title: "{{ item.nome }}"
  lang: "{{ item.lang }}"
  hreflangIt: "/it/piatti/{{ item.slug }}/"
  hreflangEn: "/en/piatti/{{ item.slug }}/"
  langSwitchUrl: "{% if item.lang == 'it' %}/en/piatti/{{ item.slug }}/{% else %}/it/piatti/{{ item.slug }}/{% endif %}"
---
{% set ristorante = item.ristoranteOrigine | ristorantePerSlug %}
<section class="hero" style="background-image: url('/assets/img/piatti/{{ item.slug }}.jpg')">
  <div>
    <h1>{{ item.nome }}</h1>
    <p class="pull-quote">{{ item.sottotitoloIronico[item.lang] }}</p>
  </div>
</section>
<section>
  <p>{{ item.descrizione[item.lang] }}</p>
  <p><strong>{{ item.prezzoAssurdo[item.lang] }}</strong></p>
  {% if ristorante %}
  <p>
    {% if item.lang == "it" %}Disponibile presso{% else %}Available at{% endif %}
    <a href="/{{ item.lang }}/ristoranti/{{ ristorante.slug }}/">{{ ristorante.nome }}</a>
  </p>
  {% endif %}
</section>
