{% set lang = lang or site.defaultLang %}
<section class="hero" style="background-image: url('/assets/img/ciccio/ciccio-cucina.jpg')" role="img" aria-label="{% if lang == 'it' %}Francesco D'Amplo in cucina{% else %}Francesco D'Amplo in his kitchen{% endif %}">
  <div>
    <h1>{{ home[lang].heading }}</h1>
    <p>{{ home[lang].subheading }}</p>
  </div>
</section>
<section>
  <p>{{ home[lang].intro }}</p>
  <p class="pull-quote">{{ home[lang].quote }}</p>
</section>
