<section class="hero" style="background-image: url('/assets/img/ciccio/ciccio-cucina.png')">
  <div>
    <h1>{{ home[lang].heading }}</h1>
    <p>{{ home[lang].subheading }}</p>
  </div>
</section>
<section>
  <p>{{ home[lang].intro }}</p>
  <p class="pull-quote">{{ home[lang].quote }}</p>
</section>
