{% set lang = lang or site.defaultLang %}
<nav class="site-nav">
  <a class="brand" href="/{{ lang }}/">Ciccio Damplo</a>
  <ul>
    <li><a href="/{{ lang }}/">{{ i18n.nav.home[lang] }}</a></li>
    <li><a href="/{{ lang }}/biografia/">{{ i18n.nav.biografia[lang] }}</a></li>
    <li><a href="/{{ lang }}/ristoranti/">{{ i18n.nav.ristoranti[lang] }}</a></li>
    <li><a href="/{{ lang }}/premi/">{{ i18n.nav.premi[lang] }}</a></li>
    <li><a href="/{{ lang }}/piatti/">{{ i18n.nav.piatti[lang] }}</a></li>
    <li><a href="/{{ lang }}/press/">{{ i18n.nav.press[lang] }}</a></li>
    <li><a href="/{{ lang }}/galleria/">{{ i18n.nav.galleria[lang] }}</a></li>
  </ul>
  {% if lang == "it" %}
    <a class="lang-switch" href="{{ langSwitchUrl or '/en/' }}">{{ i18n.langSwitchLabel.it }}</a>
  {% else %}
    <a class="lang-switch" href="{{ langSwitchUrl or '/it/' }}">{{ i18n.langSwitchLabel.en }}</a>
  {% endif %}
</nav>
